* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 10vw;
    color: white;
    overflow: hidden;
}

h1 span{
    display: inline-block;
}